
.container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background: #e5e5e5;
}

.rectangle {
  width: 375px;
  height: 60px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo-DHome-01 {
}

.bars {
}
.CoolGray-600 {
  color: #718096;
}
.CoolGray-700 {
  background: #4a5568;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.CoolGray-800 {
  background: #2d3748;
}
.CoolGray-900 {
  background: #1a202c;
}

.search {
  width: 230px;
  height: 40px;
  color: #a0aec0;
  background: #1a202c;
  border-radius: 8px;
}
.filter {
  width: 104px;
  height: 40px;
  color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search-filter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.image {
  width: 340px;
  height: 340px;
}
.detail {
  position: absolute;
  width: 320px;
  height: 144px;
  left: 27px;
  top: 450px;
  background: #fff;
  /* Shadows/shadow-lg */
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1), 0px 3px 6px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.plus {
  width: 49px;
  height: 19px;
  background: #b2f5ea;
  border-radius: 18px;

  color: #285e61;
}

.room {
  color: #718096;
}
.name {
  color: #1a202c;
}
.price {
  color: #4a5568;
}
.reviews {
  color: #718096;
}
